@import "../../assets/css/variables.scss";

.container {
  border-left: 1px solid $border-lite;
  height: calc(100% - 80px);
  padding: 40px 0;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.defaultContainer {
  min-width: 300px;
  width: calc(100vw - 20px);
}

@media (min-width: 380px) {
  .defaultContainer {
    width: calc(100vw - 40px);
  }
}

@media (min-width: 480px) {
  .defaultContainer {
    width: calc(480px - 40px);
  }
}

@media (min-width: 575px) {
  .defaultContainer {
    width: calc(575px - 80px);
  }
}

@media (min-width: 767px) {
  .defaultContainer {
    width: calc(767px - 80px);
  }
}

@media (min-width: 991px) {
  .defaultContainer {
    width: calc(991px - 292px - 80px);
  }
}

@media (min-width: 1199px) {
  .defaultContainer {
    width: calc(1199px - 292px - 80px);
  }
}

@media (min-width: 1299px) {
  .defaultContainer {
    width: calc(1299px - 292px - 80px);
  }
}

@media (min-width: 1400px) {
  .defaultContainer {
    width: calc(1400px - 292px - 80px);
  }
}

@media (min-width: 1599px) {
  .defaultContainer {
    width: calc(1599px - 292px - 80px);
  }
}
