// font-family: 'Nunito', sans-serif;
// font-family: "Hind", sans-serif;

$purple: #6544fb;
$grey: #3e4656;
$white: #ffffff;
$lightblue: #edf2fa;
$borderlite: rgba(178, 186, 204, 0.2);

.container {
  min-width: 1366px;
  min-height: 768px;
  // height: 100vh;
  // width: 100vw;

  display: flex;
  align-items: center;
  flex-direction: row;

  background-color: red;

  .optionsContainer {
    width: 320px;
    min-height: 768px;
    height: 100%;
    background-color: $lightblue;
    border-right: 1px solid $borderlite;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .nameDiv {
      width: calc(100% - 40px);
      height: 200px;
      padding: 20px;
      border-bottom: 1px solid $borderlite;
      background-color: $lightblue;
      position: relative;

      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;

      .icon {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        border: solid 2px $purple;
      }

      p {
        margin-top: 24px;
        height: 76px;
        padding: 12px 0 12px 0;
        background-color: $purple;
        border-radius: 6px;

        color: $white;
        font-family: "Nunito", sans-serif;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
      }
    }

    .optionsDiv {
      width: calc(100% - 40px);
      height: calc(100% - 314px);
      min-height: 400px;
      padding: 20px;

      display: flex;
      flex-direction: column;

      .options {
        margin: 5px 40px 5px 40px;
        padding: 12px 0 12px 0;
        width: 200px;
        height: 16px;
        font-family: "Hind", sans-serif;
        font-size: 16px;
        font-weight: bold;
        line-height: 16px;
        text-align: center;
        color: $grey;
      }

      .optionsSelected {
        background-color: $purple;
        color: $white;
        border-radius: 6px;
      }

      .options:hover {
        background-color: $purple;
        color: $white;
        border-radius: 6px;
      }
    }

    .footerDiv {
      width: calc(100% - 40px);
      height: 32px;
      padding: 20px;
      border-top: 1px solid $borderlite;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .socialIcon {
        padding: 0 20px;
        font-size: 24px;
        color: $grey;
      }

      .socialIcon:hover {
        color: $purple;
      }
    }
  }

  .pagesContainer {
    width: calc(100% - 321px);
    height: 100%;
    min-height: 768px;
    // min-width: 1045;
    background-color: $lightblue;
    border-right: 1px solid $borderlite;

    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;

    // display: flex;
    // align-items: center;
    // // flex-direction: row;
    // justify-content: center;
  }
}

.containerLite {
}
