$fontHeading: "Nunito", sans-serif;
$fontText: "Hind", sans-serif;

$purple: #6544fb;
$grey: #3e4656;
$white: #ffffff;
// $lightblue: #edf2fa;
$dullblue: #e9edf2;

$borderlite: rgba(178, 186, 204, 0.2);

$root-background: #b2d0ff61;

// Common Colors
$yellow-dark: #facf5a;
$white: white;
$black: black;
$lightblue: #e1edff; // #b2d0ff61;
$darkblue: #001171;
$borderdark: #001171;
$border-lite: rgba(255, 255, 255, 01);

// Header
$header-bg: #001171;
// $header-bg: rgb(14, 35, 153);
$overlay-bg: rgba(0, 0, 0, 0.8);
$name-txt: white;

// Menu Colors
$menu-txt: #7d7e8a;
