$fontHeading: "Nunito", sans-serif;
$fontText: "Hind", sans-serif;

$purple: #6544fb;
$grey: #3e4656;
$white: #ffffff;
$lightblue: #edf2fa;
$dullblue: #e9edf2;

$borderlite: rgba(178, 186, 204, 0.2);
